body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-size: 1rem; */
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.mainLayout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
}

.layoutHeader {
  grid-area: header;
}

.layoutContent {
  grid-area: content;
}

.layoutFooter {
  grid-area: footer;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* argin-left: 3rem; */
  margin-right: 0px;
  padding-right: 0px;

  
}


@media (min-width:576px){
  .container{
    width:540px;
  }
}

@media (min-width:768px){
  .container{
    width:720px;
  }
}

@media (min-width:992px){
  .container{
    width:960px;
  }
}

@media (min-width:1200px){
  .container{
    width:1140px;
  }
}

@media (min-width:1600px){
  .container{
    width:1500px;
  }
}